@charset "utf-8";
@import "base";
$border: 1px solid #fcfcfc;

// -- public
body { max-width: 750px;}
.p_wrap { position: relative;}
.p_topAd { width: 100%; height: rem(120);
	.p_adImg { position: fixed; left: 0; top: 0; right: 0; display: block; width: 100%;}
}
.p_bottomAd {
	position: fixed; left: 0;  right: 0; bottom: 0;
	a { display: block; width: 100%; height: rem(96); line-height: rem(96); text-align: center; background: #ffc65a; color: #fff; font-size: rem(36);}
}
.p_box01 { background: #fff; border-top: $border; border-bottom: $border; margin-bottom: 10px;}

// -- shop home
.shop_header { padding-left: rem(30); font-size: 0;
	figure { display: inline-block; margin: rem(20) rem(16) rem(20) 0; width: rem(160); height: rem(160); border: 1px solid #ececec; border-radius: 50%; overflow: hidden;
		img { display: block; width: 100%; height: 100%;}
	}
}