@charset "utf-8";
@import "base";
$border: 1px solid #fcfcfc;
%color_1 { color: rgba(37,37,37,.7);}
%icons { background-image: url("../images/icons.png"); background-size: rem(200) rem(200);}

// -- public
.p_wrap { position: relative; max-width: 720px; margin: 0 auto;}
.p_topAd { width: 100%; height: rem(120);
	.p_adImg { position: fixed; left: 0; top: 0; right: 0; display: block; width: 100%;}
}
.p_bottomAd {
	position: fixed; left: 0;  right: 0; bottom: 0;
	a { display: block; width: 100%; height: rem(96); line-height: rem(96); text-align: center; background: #ffc65a; color: #fff; font-size: rem(36);}
}
.p_box01 { background: #fff; border-top: $border; border-bottom: $border; margin-bottom: 10px;}

// -- shop home
.shop_header { padding-left: rem(30); font-size: 0; overflow: hidden;
	figure { float: left; margin: rem(20) rem(16) rem(20) 0; width: rem(160); height: rem(160); border: 1px solid #ececec; border-radius: 50%; overflow: hidden;
		img { display: block; width: 100%; height: 100%;}
	}
	.ovh { overflow: hidden;}
	.shop_header_name { width: 100%; height: rem(56); padding-top: rem(20); line-height: rem(56); font-size: rem(36); color: #f7af28; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
		span { padding: 0 rem(20);
			&:first-of-type { padding-left: 0;}
			&:last-of-type { padding-right: 0;}
		}
	}
	.shop_header_tip { padding-top: rem(18);
		span { display: inline-block; padding: 0 rem(8) 0 rem(35); position: relative; margin-right: rem(9); border: 1px solid #ffc65a; border-radius: rem(3); line-height: rem(26); font-size: rem(18); @extend %color_1;
			&:before { content: ''; position: absolute; left: 0; top: 0; display: block; width: rem(26); height: rem(26); background-color: #ffc65a; @extend %icons; }
			&.age:before { background-position: 0 0;}
			&.yer:before { background-position: rem(-30) 0;}
			&.mrk:before { background-position: rem(-60) 0;}
			&.edu:before { background-position: rem(-90) 0;}

		}
	}
	.shop_header_site { padding-top: rem(14); height: rem(40); line-height: rem(40); font-size: rem(28); @extend %color_1;}
}
