@charset "utf-8";
@import "base";
$border: 1px solid #fcfcfc;
%color_3 { color: rgba(37,37,37,.3);}
%color_5 { color: rgba(37,37,37,.5);}
%color_7 { color: rgba(37,37,37,.7);}
%icons { background-image: url("../images/icons.png"); background-size: rem(200) rem(200);}

// -- public
.p_wrap { position: relative; max-width: 720px; margin: 0 auto; padding-bottom: rem(120); z-index: 1;}

.p_topAd { position: relative; width: 100%; height: rem(120); z-index: 10;
	.p_adImg { position: fixed; left: 0; top: 0; right: 0; display: block; width: 100%;}
}
.p_bottomAd { position: fixed; left: 0; right: 0; bottom: 0; z-index: 9;
	a { display: block; width: 100%; height: rem(96); line-height: rem(96); text-align: center; background: #ffc65a; color: #fff; font-size: rem(36);}
}
.p_box01 { background: #fff; border-top: $border; border-bottom: $border; margin-bottom: 10px; position: relative;
	.p_boxMain { padding: 0 rem(40) rem(20) rem(50);}
}
.p_tit01 { padding: rem(10) rem(20); font-size: rem(28); height: rem(46); line-height: rem(46); position: relative; overflow: hidden; word-break: break-all;
	&:before { content: ''; position: absolute; left: 0; top: 50%; display: block; width: rem(6); height: rem(28); margin-top: rem(-15); background: #ffc65a;}
}
.p_ml30 { margin-left: rem(30);}
.p_tip { padding-top: rem(18);
	span { display: inline-block; padding: 0 rem(8) 0 rem(35); position: relative; margin-right: rem(9); border: 1px solid #ffc65a; border-radius: rem(3); line-height: rem(26); font-size: rem(18); @extend %color_7;
		&:before { content: ''; position: absolute; left: -1px; top: 0; display: block; width: rem(26); height: rem(26); background-color: #ffc65a; border-radius: rem(3) 0 0 rem(3); @extend %icons; }
		 //age1男, age2女
		&.age1:before { background-position: rem(-140) 0;}
		&.age2:before { background-position: 0 0;}
		&.yer:before { background-position: rem(-30) 0;}
		&.mrk:before { background-position: rem(-60) 0;}
		&.edu:before { background-position: rem(-90) 0;}
	}
}
.p_box02 { margin: rem(40) rem(20) 0; padding: rem(10) rem(20); background: #fff; border-radius: rem(10); position: relative;
	.p_boxMain { border-top: 1px solid #ddd; padding-top: rem(20); position: relative; overflow: hidden;}
}
.p_tit02 { height: rem(66); margin-top: rem(-10); line-height: rem(66); font-size: rem(28);}
.p_tipsBox { font-size: 0; padding: rem(10) 0 0 rem(20);
	span { display: inline-block; margin: 0 rem(30) rem(18) 0; padding: 0 rem(30); height: rem(42); line-height: rem(42); font-size: rem(22); color: #f7af28; border: 1px solid #fbd793; border-radius: rem(10); white-space: nowrap;}
}
.p_iconTxt { position: relative; padding: 0 0 0 rem(30); height: rem(40); line-height: rem(40); font-size: rem(22); @extend %color_3; word-break: break-all;
	&:before { content: ''; position: absolute; left: 0; top: rem(6); display: block; width: rem(26); height: rem(26); @extend %icons; background-position: 0 rem(-30);}

	&.job_shopScope:before { background-position: rem(-30) rem(-30);}
	&.job_shopType:before { background-position: rem(-60) rem(-30);}
	&.job_address:before { background-position: 0 rem(-30);}
	&.shop_address { padding: 0 rem(40);
		&:before { left: rem(14);}
	}
}

// -- shop home
.shop_header { padding-left: rem(30); font-size: 0; overflow: hidden;
	figure { float: left; margin: rem(20) rem(16) rem(20) 0; width: rem(160); height: rem(160); border-radius: 50%; overflow: hidden;
		img { display: block; width: 100%; height: 100%;}
	}
	.ovh { overflow: hidden; padding-right: rem(20);}
	.shop_header_name { width: 100%; height: rem(56); padding-top: rem(20); line-height: rem(56); font-size: rem(36); color: #f7af28; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
		span { padding: 0 rem(20);
			&:first-of-type { padding-left: 0;}
			&:last-of-type { padding-right: 0;}
		}
	}
	.shop_header_site { padding-top: rem(14); height: rem(40); line-height: rem(40); font-size: rem(28); @extend %color_7;
		overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
}
.shop_list01 { padding-left: rem(30);
	li { padding: rem(10) 0; border-bottom: 1px solid #ededed;
		&:last-of-type { border-bottom: 0;}
	}
}

.shop_intro { padding: 0 rem(40) 0 rem(20); line-height: rem(40); font-size: rem(22); @extend %color_7; word-break: break-all;}

.shop_jobList {
	li { overflow: hidden; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0 rem(40) 0 rem(20); height: rem(58); line-height: rem(58); width: 100%; font-size: rem(24); border: 0;
		.fl { color: #252525;}
		.fr { color: #ff4452;}
		a { display: block; overflow: hidden; padding-right: rem(40); position: relative; word-break: break-all;
			&:after { content: ''; position: absolute; right: 0; top: rem(12); display: block; width: rem(16); height: rem(35); @extend %icons; background-position: rem(-120) 0;}
		}
	}
}
.shop_imgBox { padding: 0 rem(40) rem(20) rem(50); font-size: 0; overflow: hidden;
	li { display: inline-block; width: 25%; height: 0; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 25% 0 0 0; position: relative;
		.shop_img { position: absolute; left: 0; right: 5px; top: 0; bottom: 5px;}
		img { display: block; width: 100%; height: 100%;}
	}
}

// -- labor
.labor_header { padding: rem(22) 0; position: relative;
	figure { margin: 0 auto; width: rem(120); height: rem(120); border-radius: 50%; overflow: hidden;
		img { display: block; width: 100%; height: 100%;}
	}
	.p_tip { text-align: center; padding-top: 0;}
	.labor_telBtn { position: absolute; left: rem(50); top: 50%; display: block; width: rem(70); height: rem(70); margin-top: rem(-35); background: url("../images/telBtn.png") no-repeat 0 0; background-size: 100% 100%;}
	.labor_msgBtn { position: absolute; right: rem(50); top: 50%; margin-top: rem(-35); display: block; width: rem(70); height: rem(70); background: url("../images/msgBtn.png") no-repeat 0 0; background-size: 100% 100%;}
}
.labor_name { padding: rem(16) rem(20); text-align: center; line-height: rem(32); font-size: rem(22); @extend %color_5;
	em { padding: 0 rem(10); font-size: rem(28); color: #252525;}
	span { padding: 0 rem(10);}
}
.labor_list01 { padding-left: rem(30);
	li { padding: rem(10) rem(40) 0 0; border-bottom: 1px solid #ededed;
		&:last-of-type { border-bottom: 0;}
	}
}
.labor_list02 { padding: rem(15) 0 rem(20) rem(20);
	dl { overflow: hidden; font-size: rem(22); line-height: rem(40);
		dt { float: left; @extend %color_7;}
		dd { overflow: hidden; color: #f7af28; padding-left: rem(10)}
	}
}
.labor_list03 { padding-left: rem(20);
	dl { height: rem(46); line-height: rem(46); word-break: break-all; overflow: hidden; font-size: rem(22);
		dt { float: left; @extend %color_7;}
		dd { float: right; @extend %color_5;}
	}
}
.labor_intro { line-height: rem(40); word-break: break-all; font-size: rem(22); @extend %color_7;}

// -- job
.job_introBox {
	dl { padding-bottom: rem(10);
		dt,dd { word-break: break-all;}
	}
	.job_name { padding-right: rem(100); line-height: rem(48); font-size: rem(28); color: #252525;
		span { color: #ff4452; padding-right: rem(20); margin-left: rem(-10);}
	}
	.job_time { position: absolute; right: rem(20); top: rem(20); line-height: rem(26); font-size: rem(20); @extend %color_5;}
	.job_main { padding: rem(12) 0 rem(4); line-height: rem(40); font-size: rem(28);}
	.job_wage { line-height: rem(40); font-size: rem(28); color: #ff4452;}
	.job_address { padding: 0 0 0 rem(30);
		&:before { left: 0;}
	}
}
.job_tips {
	&.p_tipsBox { padding: 0; margin-right: rem(-20);
		span { margin: 0 rem(20) rem(12) 0;}
	}
}
.job_require { padding: 0 0 rem(6) 0; line-height: rem(38); font-size: rem(22); @extend %color_7; word-break: break-all;}

.job_bossInfo { overflow: hidden; padding: rem(10) 0 rem(20);
	figure { float: left; display: block; width: rem(70); height: rem(70); border-radius: 50%; overflow: hidden;
		img { display: block; width: 100%; height: 100%;}
	}
	.ovh { overflow: hidden; padding-left: rem(24); height: rem(70); line-height: rem(70); font-size: rem(28);}
}
.job_shopTxt { line-height: rem(40); font-size: rem(28); word-break: break-all;}

// -- rule
.rule_wrap { padding: 20px; line-height: 28px;
	.rule_tit { padding: 0 0 10px 0; text-align: center; font-size: 18px; color: #252525;}
	p { font-size: 16px; @extend %color_5; word-break: break-all;}
	h2 { font-size: 16px; @extend %color_7; padding: 10px 0 5px;}
}
